# Claude
.claude/
!/.claude/
.claude/settings.local.json

# Mpd
.config/mpd
!/.config/mpd/mpd.conf

# Zsh
.config/zsh/.zsh_history
.config/zsh/.zcompdump
.config/zsh/.zcompcache/

# Misc
.ruff_cache
*.db
*.pickle
*.log
__pycache__/
worktrees/
TODO.md

