# Claude
.claude/
!/.claude/
.claude/settings.local.json

# Mpd
.config/mpd
!/.config/mpd/mpd.conf

# WezTerm backgrounds (private images)
.config/wezterm/backgrounds/

# Misc
.ruff_cache
*.db
*.pickle
*.log
__pycache__/
