.ruff_cache
.claude/settings.local.json
# Ignore all .claude folders except the root one
.claude/
!/.claude/
.config/mpd/database
.config/mpd/log
.config/mpd/pid
.config/mpd/state
.config/mpd/sticker.sql
.config/mpd/playlists/
*.db
*.pickle
