.claude/
ide/
local/
projects/
plugins/
shell-snapshots/
statsig/
todos/
file-history/
powerline/
history.jsonl
debug/
plans/
telemetry/
startup-perf/
shims/
chrome/
*cache**
tasks/
session_states/
usage-data/
